# Homework  HeroesOfPymoli

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
 # Make a reference to the books.csv file path
csv_path = "Resources/purchase_data.csv"

# Import the purchase_data.csv file as a DataFrame
purchase_data_df = pd.read_csv(csv_path, encoding="utf-8")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [3]:
# Count Total Number of Players
unique_player_df = purchase_data_df["SN"].unique()
display_player_count_dict = {"Total Players": len(unique_player_df)}
display_player_count_df = pd.DataFrame(display_player_count_dict, index=[0])
display_player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [4]:
# Number of Unique Items
unique_item_df = purchase_data_df["Item ID"].unique()
# Average Purchase Price
average_price = purchase_data_df["Price"].mean()
ave_price_formatter = "${:.2f}".format
average_price = ave_price_formatter(average_price)
# Total Number of Purchases
num_of_purchase = purchase_data_df["Purchase ID"].count()
# Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue_formatter = "${:,.2f}".format
total_revenue = total_revenue_formatter(total_revenue)
# Create a summary data frame to hold the results
purchas_analysis_dict = {
    "Number of Unique Items": len(unique_item_df),
    "Average Price": average_price,
    "Number of Purchases": num_of_purchase,
    "Total Revenue": total_revenue
}
purchas_analysis_df = pd.DataFrame(purchas_analysis_dict, index=[0])
purchas_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [5]:
# Percentage and Count of Total Players
unique_SN_data = purchase_data_df.drop_duplicates(["SN"])
num_of_unique_player = unique_SN_data["SN"].count()
# Percentage and Count of Male Players
male_player_df = unique_SN_data.loc[unique_SN_data["Gender"] == "Male"]
num_of_male_player = male_player_df["SN"].count()
percent_of_male_player = num_of_male_player/num_of_unique_player*100
# Percentage and Count of Female Players
female_player_df = unique_SN_data.loc[unique_SN_data["Gender"] == "Female"]
num_of_female_player = female_player_df["SN"].count()
percent_of_female_player = num_of_female_player/num_of_unique_player*100
# Percentage and Count of Other / Non-Disclosed
other_player_df = unique_SN_data.loc[unique_SN_data["Gender"] == "Other / Non-Disclosed"]
num_of_other_player = other_player_df["SN"].count()
percent_of_other_player = num_of_other_player/num_of_unique_player*100
# Create a summary data frame to hold the results
gender_list = [
    {"Gender": "Male", "Total Count": num_of_male_player, "Percentage of Players": percent_of_male_player},
    {"Gender": "Female", "Total Count": num_of_female_player, "Percentage of Players": percent_of_female_player},
    {"Gender": "Other / Non-Disclosed", "Total Count": num_of_other_player, "Percentage of Players": percent_of_other_player}]
unique_gender_analysis_df = pd.DataFrame(gender_list)
# Format the percentage to xx.xx%
unique_gender_analysis_df["Percentage of Players"] = unique_gender_analysis_df["Percentage of Players"].map("{:.2f}%".format)
unique_gender_analysis_df = unique_gender_analysis_df.set_index("Gender")
unique_gender_analysis_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [7]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender\
purchase_by_gender_analysis_df = purchase_data_df.loc[:, ["SN", "Gender", "Price"]]
# Calculations on female data
female_purchase_analysis_df = purchase_by_gender_analysis_df.loc[purchase_by_gender_analysis_df["Gender"]=="Female"]
female_purchase_count = female_purchase_analysis_df["Gender"].count()
female_purchase_average = female_purchase_analysis_df["Price"].mean()
female_purchase_total_value = female_purchase_analysis_df["Price"].sum()
female_purchase_avgperperson = female_purchase_total_value/num_of_female_player
# Calculations on male data
male_purchase_analysis_df = purchase_by_gender_analysis_df.loc[purchase_by_gender_analysis_df["Gender"]=="Male"]
male_purchase_count = male_purchase_analysis_df["Gender"].count()
male_purchase_average = male_purchase_analysis_df["Price"].mean()
male_purchase_total_value = male_purchase_analysis_df["Price"].sum()
male_purchase_avgperperson = male_purchase_total_value/num_of_male_player
# Calculations on other data
other_purchase_analysis_df = purchase_by_gender_analysis_df.loc[purchase_by_gender_analysis_df["Gender"]=="Other / Non-Disclosed"]
other_purchase_count = other_purchase_analysis_df["Gender"].count()
other_purchase_average = other_purchase_analysis_df["Price"].mean()
other_purchase_total_value = other_purchase_analysis_df["Price"].sum()
other_purchase_avgperperson = other_purchase_total_value/num_of_other_player
# Create a summary data frame to hold the results
purchase_analysis_gender_dict = {
    "Gender": ["Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count": [female_purchase_count, male_purchase_count, other_purchase_count],
    "Average Purchase Price": [female_purchase_average, male_purchase_average, other_purchase_average],
    "Total Purchase Value": [female_purchase_total_value, male_purchase_total_value, other_purchase_total_value],
    "Avg Total Purchase per Person": [female_purchase_avgperperson, male_purchase_avgperperson, other_purchase_avgperperson]
}
purchase_analysis_gender_df = pd.DataFrame(purchase_analysis_gender_dict).set_index("Gender")
# give the displayed data cleaner formatting
purchase_analysis_gender_df["Average Purchase Price"] = purchase_analysis_gender_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_analysis_gender_df["Total Purchase Value"] = purchase_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_gender_df["Avg Total Purchase per Person"] = purchase_analysis_gender_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
# Display the summary data frame
purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

##  Age Demographics